<div *ngIf="userData && authUser.isAnonymous" class="guest-banner">
    <h4 class="warn">Guest Account</h4>
    You are logged in as a guest. Your data will be deleted on sign-out. Please <span [routerLink]="'/home/sign-up'"
      class="register-link">register</span> to save your data.
  </div>

<div *ngIf="userData" class="card-container">

  <!-- Task controls to filter tasks (Todo: component) -->
  <div class="task-controls">
    <button mat-fab color="accent" class="add-btn" #tooltip="matTooltip" matTooltip="Add a new task"
      [matTooltipPosition]="'after'" matTooltipHideDelay="0" (click)="addTaskDialog()">
      <mat-icon>add</mat-icon>
    </button>
    <div class="filter-btns">
      <div class="filter-eisenhower">
        <div class="flex-column">
          <mat-button-toggle-group name="urgency" aria-label="Ingredients" #tooltip="matTooltip"
            matTooltip="Filter task urgency" matTooltipPosition="before">
            <mat-button-toggle #btnUrgent value="{{ urgencyOptions[0] }}" (click)="onFilterUrgency(urgencyOptions[0], btnUrgent)">
              <mat-icon color="warn">priority_high</mat-icon>
              High
            </mat-button-toggle>
            <mat-button-toggle #btnNotUrgent value="{{ urgencyOptions[1] }}" (click)="onFilterUrgency(urgencyOptions[1], btnNotUrgent)">
              <mat-icon color="accent">priority_high</mat-icon>
              Low
            </mat-button-toggle>
          </mat-button-toggle-group>
          <mat-hint>Urgency</mat-hint>
        </div>
        <div class="flex-column">
          <mat-button-toggle-group name="importance" aria-label="Ingredients" #tooltip="matTooltip"
            matTooltip="Filter task importance" matTooltipPosition="before">
            <mat-button-toggle #btnImportant value="{{ importanceOptions[0] }}" (click)="onFilterImportance(importanceOptions[0], btnImportant)">
              <mat-icon color="warn">label_important</mat-icon>
              High
            </mat-button-toggle>
            <mat-button-toggle #btnNotImportant value="{{ importanceOptions[1] }}" (click)="onFilterImportance(importanceOptions[1], btnNotImportant)">
              <mat-icon color="accent">label_important</mat-icon>
              Low
            </mat-button-toggle>
          </mat-button-toggle-group>
          <mat-hint>Importance</mat-hint>
        </div>
        <div class="filter-category">
          <!-- <mat-hint>Status:</mat-hint> -->
          <mat-form-field appearance="outline" color="accent" class="tasks-filter-category"
            #tooltip="matTooltip" matTooltip="Filter category" matTooltipPosition="after">
            <mat-label>Select Category</mat-label>
            <mat-select [ngModel]="selectedCategory" (ngModelChange)="onFilterCategory($event)">
              <mat-option style="color: #ababab">All Categories</mat-option>
              <mat-option *ngFor="let cat of taskCategories" value="{{ cat }}">{{ cat }}</mat-option>
              <!-- <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
              <mat-option value="option3">Option 3</mat-option> -->
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
<!-- END: task controls -->

  <app-task-card class="task-card" *ngFor="let task of (filteredTasks ? filteredTasks : userData.userTasks), let i = index" [task]="task" [index]="i"
    (deleteTask)="onDeleteTask($event)" (editTask)="onEditTask($event)">
  </app-task-card>

</div>
