<div class="logo-container" [routerLink]="'/home'">
  <span class="logo">Simple CRM</span>
  <!-- <img src="./assets/img/logo0-white.png" alt="" class="logo"> -->
  <!-- <img src="./assets/img/logo.png" class="sidenav-logo" alt="Simple CRM Logo" class="logo"> -->
</div>

<ul class="menu-items">
  <li [routerLink]="'/dashboard'">
    <mat-icon color="accent">fact_check</mat-icon>Dashboard
  </li>
  <li [routerLink]="'/employees'">
    <mat-icon color="accent">group</mat-icon>Employees
  </li>
  <li [routerLink]="'/projects'">
    <mat-icon color="accent">area_chart</mat-icon>Projects
  </li>
  <li [routerLink]="'/clients'">
    <mat-icon color="accent">3p</mat-icon>Client Contacts
  </li>
  <!-- <li [routerLink]="'/clients'">
        <mat-icon color="accent">3p</mat-icon>Clients (Companies)
      </li> -->
  <!-- <li>
        <mat-icon disabled color="accent">monetization_on</mat-icon>Sales & Deals
      </li> -->
  <li [routerLink]="'/tasks'">
    <mat-icon color="accent">task</mat-icon>My Tasks
  </li>
  <li class="disabled">
    <mat-icon color="accent">mail</mat-icon>Mail
  </li>
  <!-- Remove / Put in Dashboard? -->
  <li class="disabled">
    <!-- <mat-icon color="accent">toll</mat-icon>Admin Panel -->
    <mat-icon color="accent">admin_panel_settings</mat-icon>Admin Panel
  </li>
</ul>
