<div class="detail-content">
  <div class="detail-cards">

    <mat-card class="detail-header" [style.background-color]="manager ? manager.colorCode : 'darkslategray'">
      <!-- <mat-card-content class="card-content"> -->
      <button mat-icon-button [matMenuTriggerFor]="headerMenu" class="btn-right-upper-corner">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #headerMenu="matMenu">
        <button mat-menu-item (click)="openEditDetails()">Edit</button>
      </mat-menu>
      <div class="contact-details">
        <h2 class="card-title">{{ project.name }}</h2>
        <h3 class="card-title-small">Project Manager: </h3>
        <div class="header-detail manager-name" [routerLink]=" manager ? '/employee/'+ project['managerID'] : ''">{{ manager ? manager.firstName : '' }} {{ manager ? manager.lastName : '' }}</div>
        <!-- manager contact-infos from employees= -->
        <div class="header-detail"><a href="tel:{{ manager ? manager.phone : '' }}">{{ manager ? manager.phone : '' }}</a></div>
        <div class="header-detail"><a href="mailto:{{ manager ? manager.email : '' }}">{{ manager ? manager.email : '' }}</a></div>
      </div>
      <!-- </mat-card-content> -->
    </mat-card>

    <mat-card class="mt-32 info-detail-card">
      <mat-card-content class="card-content">
        <button mat-icon-button [matMenuTriggerFor]="addressMenu" class="btn-right-upper-corner">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #addressMenu="matMenu">
          <button mat-menu-item (click)="openEditDetails()">Edit</button>
        </mat-menu>
        <h2 class="card-title">Details</h2>
        <div class="card-detail project-description">{{ project.description }}</div>
        <!-- reference to client-details -->
        <div class="card-detail">Client: {{ project.client }}</div>
        <div [class.date-expired]="project.dueDateExpired()" class="card-detail">Due date: {{ localFormatDate }} <span *ngIf="project.dueDateExpired()">(Expired!)</span></div>
      </mat-card-content>
    </mat-card>

    <mat-card class="mt-32 info-detail-card">
      <mat-card-content class="card-content">
        <button mat-icon-button [matMenuTriggerFor]="employeesMenu" class="btn-right-upper-corner">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #employeesMenu="matMenu">
          <button mat-menu-item (click)="openEditEmployees()">Edit</button>
        </mat-menu>
        <h2 class="card-title">Assigned Team Members</h2>
        <div class="team-container">
          <span 
            *ngFor="let ass of assignedEmployees" 
            class="team-member"
            [style.color]="ass.colorCode"
            [routerLink]="['/employee/'+ ass.objID]"
            >{{ ass.firstName }} {{ ass.lastName }}
          </span>
        </div>
      </mat-card-content>
    </mat-card>

    <!-- END: detail-cards -->
  </div>

  <!-- delete button: -->
  <div class="delete-btn-container">
    <button mat-fab color="warn" class="delete-client-btn" #tooltip="matTooltip" matTooltip="Delete project"
      [matTooltipPosition]="'above'" matTooltipHideDelay="500" (click)="openDeleteDialog()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <!-- END: detail-content -->
