<!-- Main content -->
<main *ngIf="userData as user" role="main" class="">

  <div *ngIf="authUser.isAnonymous" class="guest-banner">
    <h4 class="warn">Guest Account</h4>
    You are logged in as a guest. Your data will be deleted on sign-out. Please <span [routerLink]="'/home/sign-up'"
      class="register-link">register</span> to save your data.
  </div>

  <mat-card class="user-card">
    <mat-card-header>
      <div *ngIf="!user.photoURL" mat-card-avatar class="card-avatar-img" (click)="openEditProfilePicture()"></div>
      <div *ngIf="user.photoURL" mat-card-avatar class="card-avatar-img" (click)="openEditProfilePicture()"
        [ngStyle]="{'background-image': 'url('+ user.photoURL +')'}" alt="Profile picture"></div>
      <mat-card-title *ngIf="authUser.isAnonymous">Hello, {{ user.displayName ? user.displayName : 'Guest User' }}
      </mat-card-title>
      <mat-card-title *ngIf="!authUser.isAnonymous">Hello, {{ user.displayName ? user.displayName : 'User' }}
      </mat-card-title>
      <mat-card-subtitle *ngIf="!authUser.isAnonymous">Status: {{ user.isAdmin ? 'Admin' : 'Standard user' }}
      </mat-card-subtitle>
      <mat-card-subtitle *ngIf="authUser.isAnonymous">Status: Guest admin</mat-card-subtitle>
    </mat-card-header>
    <div class="header-img-container">
      <img mat-card-image class="card-header-img" src="https://picsum.photos/1200/200?grayscale" alt="random picture">
      <div class="clock-container">
        <app-clock [clockSize]="150"></app-clock>
      </div>
    </div>
    <mat-card-content class="header-card-content">

      <div class="col">
        <div class="card-detail">Email: <span>{{ !authUser.isAnonymous ? user.email : 'Not provided'}}</span></div>
        <!-- <div class="card-detail">You have currently {{ user.userTasks.length }} Tasks open</div> -->
        <div *ngIf="!authUser.isAnonymous" class="card-detail">Email Verified: {{user.emailVerified}}</div>
        <!-- <div class="card-detail">{{ user.uid }}</div> -->
      </div>

      <div class="col">
        <div class="title-date">{{ localeDateString }}</div>
        <!-- <div class="subtitle-time">{{ currentHour }} : {{ currentMinute }} : {{ currentSecond }}</div> -->
        <div class="subtitle-time">{{ localeTimeString }}</div>
      </div>

    </mat-card-content>
  </mat-card>

  <div class="d-flex mt-16">

    <mat-card class="width-50 mr-16">
      <mat-card-title class="card-title">Your current tasks</mat-card-title>
      <mat-card-content>
        <div *ngIf="user.userTasks.length > 0" class="card-detail"> <span class="link"
            [routerLink]="'/tasks'"><strong>{{ user.userTasks.length - doneTasks.length }}</strong>
            tasks</span> are still open
        </div>
        <div *ngIf="user.userTasks.length === 0" class="card-detail"> You have <span class="link"
            [routerLink]="'/tasks'"><strong>no
              tasks.</strong></span>
        </div>
        <div *ngIf="user.userTasks.length > 0" class="card-detail">
          <strong>{{ doneTasks.length }}</strong> of <strong>{{ user.userTasks.length }}</strong> tasks with status
          'Done'
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="width-50">
      <mat-card-title class="card-title"> Calendar </mat-card-title>
      <app-calendar></app-calendar>
    </mat-card>

  </div>

  <div class="d-flex mt-16">
    
    <mat-card class="width-50 mr-16">
      <mat-card-title class="card-title">Messages </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      <mat-card-content></mat-card-content>
    </mat-card>

    <mat-card class="width-50">
      <mat-card-title class="card-title"> Notifications </mat-card-title>
      <mat-card-content>
        <!-- <div class="card-detail">Employees xyz are currently unassigned.</div>
        <div class="card-detail">Projects xyz are due</div> -->
      </mat-card-content>
    </mat-card>

  </div>

  <div class="mt-16">
    <mat-card class="">
      <!-- <mat-card-header> -->
      <mat-card-title class="card-title">Progress </mat-card-title>
      <!-- </mat-card-header> -->
      <div *ngIf="user.userTasks.length > 0" class="bar-label">Tasks done: {{ getTasksProgress() }}%</div>
      <div *ngIf="user.userTasks.length === 0" class="bar-label">You have no tasks. Define some tasks and set your
        goals!</div>
      <mat-progress-bar mode="determinate" color="accent" class="user-progress-bar" value="{{ getTasksProgress() }}">
      </mat-progress-bar>

      <div class="bar-label">Notifications handled: 10%</div>
      <mat-progress-bar mode="determinate" color="" class="user-progress-bar" value="10"></mat-progress-bar>

      <div class="bar-label">Messages read: 90%</div>
      <mat-progress-bar mode="determinate" color="" class="user-progress-bar" value="90"></mat-progress-bar>
    </mat-card>
  </div>

</main>
