.clock {
  --clock-size: 150px;
  --clock-radius: calc(var(--clock-size) / 2);
  //border: 1px solid red;
  height: var(--clock-size);
  width: var(--clock-size);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  position: relative;

  &-second,
  &-minute,
  &-hour,
  &-indicator {
    position: absolute;
    left: calc(50% - 1px);
    width: 2px;
    background: white;
    transform-origin: bottom center;
    z-index: 2;
    border-radius: 1px;
  }

  &-second {
    // height: #{ ($clock-size / 2) - 10};
    height: calc(var(--clock-radius) - 10%); // 10px (20px, 40px) or 13% if smaller than 150px?
    margin-top: 10%;
    background: var(--col-warn);
    animation: tickClockTime 60s infinite steps(60);
    z-index: 3;
    opacity: 0.55;
  }

  &-minute {
    height: calc(var(--clock-radius) - 13%);
    margin-top: 13%;
    //   opacity: 0.75;
    background: var(--col-accent);
    animation: tickClockTime 3600s linear infinite;
  }

  &-hour {
    height: calc(var(--clock-radius) - 16%);
    margin-top: 16%;
    background: var(--col-accent);
    animation: tickClockTime 43200s linear infinite;
  }

  &-indicator {
    height: calc(var(--clock-radius) - 3.5px); // 2px
    border-top: 3.5px solid var(--col-accent);
    background: none;
  }

  &-indicator:nth-of-type(5n) {
    opacity: 1;
    height: calc(var(--clock-radius) - 8px); // 7px
    border-top: 8px solid white;
  }

  &-axis {
    background: white;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    z-index: 4;
    top: calc((var(--clock-size) / 2) - 3px);
  }
}

@for $i from 1 through 60 {
  section:nth-of-type(#{$i}) {
    transform: rotateZ(calc(6deg * #{$i}));
  }
}

@keyframes tickClockTime {
  to {
    transform: rotateZ(360deg);
  }
}
