<div class="dialog-container" [class.success-message]="showSuccessMsg">
  <mat-progress-bar *ngIf="loading" mode="indeterminate" class="progress-bar"></mat-progress-bar>
  <h1 mat-dialog-title>{{ dialogTitle }}</h1>
  <p>{{ dialogMessage }}</p>
  <p *ngIf="!showErrorMsg && !showSuccessMsg">This process is final and <b>cannot be undone!</b></p>
  <!-- add employee name -->
  <div *ngIf="!showSuccessMsg" mat-dialog-actions>
    <button class="cancel-btn" mat-button (click)="closeDialog()" cdkFocusInitial>No! Go back</button>
    <button class="delete-btn" mat-button (click)="deleteUserAccount()">DELETE</button>
  </div>
</div>
