.color-btn-box {

    display: flex;
    flex-direction: column;
    justify-content: center;
    

    button {
        width: 100%;
        height: 50px;
        margin-top: 4px;//9px;//-37px;
        border-radius: 6px;
    }

    .color-btn-label {
        font-size: 75%;
        margin-top: 0.35em;//0.67em; //0.25
        // top: calc(100% - 1.79em);
        margin-left: 1em;
    }
}

.color-inputs {
    display: flex;
    gap: 16px
}