<mat-card class="client-detail-header">
    <mat-card-content class="card-content">
        <button mat-icon-button [matMenuTriggerFor]="userHeaderMenu" class="btn-right-upper-corner">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #userHeaderMenu="matMenu">
            <button mat-menu-item (click)="openEditDetails()">Edit</button>
        </mat-menu>
        <div class="client-details">
            <h2 class="card-title">{{ client.firstName }} {{ client.lastName }}</h2>
            <div class="header-detail"><a href="tel:{{ client.phone }}">{{ client.phone }}</a></div>
            <div class="header-detail"><a href="mailto:{{ client.email }}">{{ client.email }}</a></div>
        </div>
    </mat-card-content>
</mat-card>

<mat-card class="mt-32 client-address">
    <mat-card-content class="card-content">
        <button mat-icon-button [matMenuTriggerFor]="addressMenu" class="btn-right-upper-corner">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #addressMenu="matMenu">
            <button mat-menu-item (click)="openEditAddress()">Edit</button>
        </mat-menu>
        <h2 class="card-title">Address</h2>
        <div class="card-detail">{{ client.street }} {{ client.streetNo }}</div>
        <div class="card-detail">{{ client.zipCode }} {{ client.city }}</div>
    </mat-card-content>
</mat-card>

<!-- delete client button: -->
<div class="delete-btn-container">
    <button 
        mat-fab color="warn" 
        class="delete-client-btn"
        #tooltip="matTooltip"
        matTooltip="Delete client"
        [matTooltipPosition]="'above'"
        matTooltipHideDelay="500"
        (click)="openDeleteDialog()">
        <!-- [matTooltipPosition]="position.value!" -->
            <mat-icon>delete</mat-icon>
      </button>
</div>
