<mat-drawer-container class="mat-drawer-container" autosize>

  <!-- Material Sidenav (IF AUTH && NOT HOME) -->
  <mat-drawer #drawer class="mat-sidenav" [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="mobileQuery.matches ? false : true">
    <app-sidenav></app-sidenav>
  </mat-drawer>

  <app-toolbar (openDrawer)="onOpenDrawer()"></app-toolbar>

  <div class="content-container">
    <router-outlet></router-outlet>
  </div>

  <!-- IF UNAUTH OR HOME -->
  <footer *ngIf="false">FOOTER</footer>

</mat-drawer-container>
