<!-- Material Toolbar (inside sidenav container, s.t. sidenav is over toolbar if opened) -->
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button color="accent" mat-icon-button class="" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Simple CRM</span>
      <span class="toolbar-spacer"></span>
      <button mat-icon-button class="favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon  
          #tooltip="matTooltip"
          matTooltip="Switch to light mode"
          [matTooltipPosition]="'above'"
          matTooltipHideDelay="500"
          class="lightmode-icon">
            lightbulb
        </mat-icon>
      </button>
      <button mat-icon-button class="" aria-label="Example icon-button with share icon">
        <!-- <mat-icon>share</mat-icon> -->
         <mat-icon>settings</mat-icon>
      </button>
    </mat-toolbar-row>
    <!-- toggle-sidenav button inside toolbar -->
    <!-- <mat-toolbar-row>
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </mat-toolbar-row> -->
  </mat-toolbar>
  <!-- END toolbar -->

<router-outlet></router-outlet>
