.add-btn {
  position: absolute;
  // bottom:0;
  top: 32px; //32px; //wie margin-bottom in content-container!
  right: 44px; //44px; //wie m-r in content-container in app component
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

p {
  white-space: pre-line;
  word-wrap: break-word;
  line-height: 1.2;
}

.task-card {
  width: 225px;
  transition: all 235ms;
  position: relative;
  // background-color: rgb(66, 66, 66, 0.5);
  //background-color: transparent;

  button {
    // box-shadow: 0 0 3px 0px rgba(0,0,0,0.25);
    background: rgba(41, 41, 41, 0.3);
  }

  .card-buttons {
    margin-top: 8px;
    display: flex;
    // justify-content: space-between;
    gap: 16px;
  }

  .delete-btn {

    &:hover {
      background-color: rgb(244, 67, 54, 0.25);
    }

  }
  
  .edit-btn {

    &:hover {
      background-color: rgb(105, 240, 174, 0.25);
    }
  }

  .task-title {
    font-weight: 500;
    margin-bottom: 8px;
  }

  .task-body {
    margin-bottom: 16px;
  }

  .task-category {
    margin-bottom: 8px;
    font-size: 13px;
    margin-right: 16px;
  }

  .task-urgency, .task-importance {
    margin-top: 14px;
  }

  .task-classification {
    display: flex;
    // justify-content: space-between;

    mat-icon {
      cursor: help;
    }
  }

  .label-small {
    font-size:12px;
   // margin-right: 8px;
  }

}
