<div class="cards-container">
  <mat-card>
    <mat-card-title class="align-center"><h3>Reset password</h3></mat-card-title>
    <p>Please enter your email address to request a password reset</p>

    <form action="" #resetForm="ngForm">

      <mat-form-field appearance="outline" class="width-100">
        <mat-label>Email for password reset</mat-label>
        <input type="text" matInput [(ngModel)]="resetPwEmail" name="resetMail" #resetMailInput="ngModel"
        class="form-control" required email>
        <mat-hint>E-mail address</mat-hint>
        <mat-error>Please enter a valid E-mail address</mat-error>
      </mat-form-field>

      <div class="form-buttons align-center " mat-dialog-actions>
        <button mat-button class="" (click)="resetPassword()" >Reset Password</button>
      </div>

      <div class="width-100 form-info align-center">
        Go back to <span class="link" [routerLink]="'/sign-in'">Log In</span>
      </div>

    </form>
  </mat-card>
</div>