<form action="" #editUserForm="ngForm" class="dialog-container">

  <mat-progress-bar *ngIf="loading" mode="indeterminate" class="progress-bar"></mat-progress-bar>

  <h1 mat-dialog-title>User Details</h1>
  <div *ngIf="authUser" mat-dialog-content>

    <!-- TODO change profile picture -->
    <div class="width-100 avatar-picker">
      <!-- <div *ngIf="!photoURL" mat-card-avatar class="card-avatar-img"></div>
      <div *ngIf="photoURL" mat-card-avatar class="card-avatar-img"
        [ngStyle]="{'background-image': 'url('+ photoURL +')'}" alt="Profile picture"></div>
      <img src="" alt="" class="avatar"> -->

      <img class="avatar" src="https://picsum.photos/1200/200?grayscale" alt="random picture">
    </div>

    <mat-form-field appearance="outline" color="accent" class="width-100">
      <mat-label>Username</mat-label>
      <input [(ngModel)]="userName" matInput [disabled]="loading" placeholder="Username" name="username"
        #usrNameInput="ngModel" required maxlength="30" class="form-control">
      <mat-hint *ngIf="usrNameInput.pristine">Username</mat-hint>
      <mat-error *ngIf="usrNameInput.errors && usrNameInput.errors['required']">Please enter a username</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent" class="width-100">
      <mat-label>Email</mat-label>
      <input [(ngModel)]="userEmail" matInput [disabled]="loading || authUser.isAnonymous" placeholder="Email" name="email"
        #emailInput="ngModel" [required]="!authUser.isAnonymous" email maxlength="30" class="form-control">
      <mat-hint *ngIf="emailInput.pristine">Email</mat-hint>
      <mat-error *ngIf="emailInput.errors">Please enter a valid email address</mat-error>
    </mat-form-field>

  </div>
  <div mat-dialog-actions>
    <button mat-stroked-button (click)="closeDialog()">Cancel</button>
    <button mat-stroked-button [disabled]="editUserForm.form.invalid" (click)="editUserForm.valid && saveEdit()" cdkFocusInitial>Save</button>

    <button mat-button #tooltip="matTooltip" matTooltip="Delete User" color="warn" class="delete-user-btn"><mat-icon>delete</mat-icon></button>
  </div>

</form>
