<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar-row>
    <!-- IF AUTH && NOT HOME -->
    <button *ngIf="usrIsAuth && !isHomepage" (click)="emitOpenDrawerEvent()" color="accent" mat-icon-button class=""
      aria-label="Example icon-button with menu icon" #tooltip="matTooltip" matTooltip="Toggle side-navigation">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- -->
    <span class="home-link" [routerLink]="'/home'">Simple CRM</span>
    <span class="toolbar-spacer"></span>
    <!-- <button mat-icon-button class="favorite-icon" aria-label="Lightmode icon">
        <mat-icon #tooltip="matTooltip" matTooltip="Switch to light mode" [matTooltipPosition]="'above'"
          matTooltipHideDelay="500" class="lightmode-icon">
          lightbulb
        </mat-icon>
      </button> -->

    <!-- IF UNAUTH: -->
    <span *ngIf="!usrIsAuth" class="unauth-navicons">
      <span class="navbar-icon-label">Log In</span>
      <button mat-icon-button class="" [routerLink]="'/home/sign-in'">
        <mat-icon #tooltip="matTooltip" matTooltip="">login</mat-icon>
      </button>
      <span class="navbar-icon-label">Register</span>
      <button mat-icon-button [routerLink]="'/home/sign-up'">
        <mat-icon class="avatar">app_registration</mat-icon>
        <!-- <img src="./assets/img/undraw_female_avatar_white.svg" alt="avatar" class="avatar"> -->
      </button>
    </span>

    <!-- IF AUTH: -->
    <span *ngIf="usrIsAuth" class="auth-navicons">
      <!-- <button mat-icon-button class="settings-btn" aria-label="Settings icon">
        <mat-icon #tooltip="matTooltip" matTooltip="Open settings">settings</mat-icon>
      </button> -->
      <span class="user-name">{{ getUserName() }}</span>
      <button mat-icon-button [matMenuTriggerFor]="userMenu" #usrIconTooltip="matTooltip" matTooltip="Open user menu">
        <img src="./assets/img/undraw_female_avatar_white.svg" alt="avatar" class="avatar">
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item [routerLink]="'/dashboard'">
          <mat-icon>fact_check</mat-icon><span class="menu-icon-label">Dashboard</span>
        </button>
        <button mat-menu-item (click)="openEditUser()">
          <mat-icon>manage_accounts</mat-icon><span class="menu-icon-label">User settings</span>
        </button>
        <button mat-menu-item (click)="logOut()">
          <mat-icon>logout</mat-icon><span class="menu-icon-label">Log out</span>
        </button>
      </mat-menu>
    </span>
  </mat-toolbar-row>
</mat-toolbar>