<div class="dialog-container" [class.success-message]="showSuccessMsg">
  <mat-progress-bar *ngIf="loading" mode="indeterminate" class="progress-bar"></mat-progress-bar>
  <h1 mat-dialog-title>{{ dialogTitle }}</h1>
  <p class="dialog-message">{{ dialogMessage }}<br>
    <b>{{ client.firstName }} {{ client.lastName }}</b></p>
  <!-- add client name -->
  <div *ngIf="!showSuccessMsg" mat-dialog-actions>
    <button class="cancel-btn" mat-button (click)="closeDialog()">No! Go back</button>
    <button class="delete-btn" mat-button (click)="deleteClient()" cdkFocusInitial>DELETE</button>
  </div>

</div>
