<form action="" #taskForm="ngForm" class="dialog-container">
 
  <!-- Progress bar -->
  <mat-progress-bar *ngIf="loading" mode="indeterminate" class="progress-bar"></mat-progress-bar>
  
  <!-- Title -->
  <h1 mat-dialog-title>Add Task</h1>

  <div class="mat-dialog-content">

    <div class="">
      <mat-form-field appearance="outline" color="accent" class="width-100">
        <mat-label>Title</mat-label>
        <input [(ngModel)]="title" matInput [disabled]="loading" placeholder="Title" name="taskTitle"
          #titleInput="ngModel" required maxlength="40" class="form-control">
        <mat-hint *ngIf="titleInput.pristine">Task Title</mat-hint>
        <mat-error *ngIf="titleInput.errors && titleInput.errors['required']">Please enter a title</mat-error>
        <mat-error *ngIf="titleInput.errors && titleInput.errors['maxlength']">Title should have max. 40 characters
        </mat-error>
      </mat-form-field>
    </div>

    <div class="">
      <mat-form-field appearance="outline" color="accent" class="width-100">
        <mat-label>Description</mat-label>
        <textarea [(ngModel)]="body" (keyup)="countStrLength()" matInput [disabled]="loading"
          placeholder="Further Infos" name="description" #descriptionInput="ngModel" [maxlength]="bodyMaxLength"
          class="form-control text-area">
          {{ body }}
        </textarea>
        <mat-hint *ngIf="descriptionInput.pristine">Project description (max. {{ bodyMaxLength }} characters)</mat-hint>
        <mat-hint *ngIf="descriptionInput.dirty"><span>{{ bodyCharacterCounter }}</span> of {{ bodyMaxLength }}
          characters left</mat-hint>
      </mat-form-field>
    </div>

    <div class="">
      <mat-form-field appearance="outline" color="accent" class="width-100">
        <mat-label class="form-selector">Category</mat-label>
        <mat-select [(ngModel)]="category" [disabled]="loading" placeholder="Importance" name="category"
          #categoryInput="ngModel" required class="form-control">
          <mat-option *ngFor="let cat of taskCategories" [value]="cat">{{ cat }}
          </mat-option>
        </mat-select>
        <mat-hint *ngIf="categoryInput.pristine">Coose a category</mat-hint>
        <mat-error *ngIf="categoryInput.invalid">Please decide on the category</mat-error>
      </mat-form-field>
    </div>

      <!-- urgency and importance: (optional?) ...or use Angular materials Button-toggle instead (2x2-row?) -->

    <div class="check-row width-50">
        <mat-radio-group [(ngModel)]="urgency" name="urgency">
          <!-- <label class="check-label">Urgency:</label> -->
          <mat-hint class="check-label">Choose Urgency:</mat-hint>
          <mat-radio-button [disabled]="loading" class="check-label" value="{{ urgencyOptions[0] }}" color="warn">
            {{ urgencyOptions[0] }}</mat-radio-button>
          <mat-radio-button [disabled]="loading" class="check-label" value="{{ urgencyOptions[1] }}" color="accent">
            {{ urgencyOptions[1] }}</mat-radio-button>
        </mat-radio-group>

        <mat-radio-group [(ngModel)]="importance" name="importance">
          <mat-hint class="check-label">Choose Importance:</mat-hint>
          <mat-radio-button [disabled]="loading" class="check-label" value="{{ importanceOptions[0] }}" color="warn">
            {{ importanceOptions[0] }}</mat-radio-button>
          <mat-radio-button [disabled]="loading" class="check-label" value="{{ importanceOptions[1] }}" color="accent" checked>
            {{ importanceOptions[1] }}</mat-radio-button>
        </mat-radio-group>
    </div>

     <!-- Buttons -->
      <div mat-dialog-actions>
        <button mat-button (click)="closeDialog()">Cancel</button>
        <button mat-button [disabled]="!taskForm.form.valid" (click)="taskForm.form.valid && addTask()">Save</button>
      </div>

  </div>
</form>