<form action="" #editClientDetails="ngForm" class="dialog-container">

  <mat-progress-bar *ngIf="loading" mode="indeterminate" class="progress-bar"></mat-progress-bar>

  <h1 mat-dialog-title>Edit Client Contact Informations</h1>
  <div mat-dialog-content>
    <div class="">
       <!-- First name -->
      <mat-form-field appearance="outline" class="mr-16 width-50">
        <mat-label>First Name</mat-label>
        <input [(ngModel)]="client.firstName" matInput [disabled]="loading" placeholder="First Name" name="firstName"
          #firstNameInput="ngModel" required maxlength="15" class="form-control">
        <mat-hint *ngIf="firstNameInput.pristine">First name</mat-hint>
        <mat-error *ngIf="firstNameInput.errors && firstNameInput.errors['required']">First name is required</mat-error>
        <mat-error *ngIf="firstNameInput.errors && firstNameInput.errors['maxlength']">Name should have max. 15
          characters</mat-error>
      </mat-form-field>
      <!-- Last name -->
      <mat-form-field appearance="outline" class="width-50">
        <mat-label>Last Name</mat-label>
        <input [(ngModel)]="client.lastName" matInput [disabled]="loading" placeholder="Last Name" name="lastName"
          #lastNameInput="ngModel" required maxlength="15" class="form-control">
        <mat-hint *ngIf="lastNameInput.pristine">Last name</mat-hint>
        <mat-error *ngIf="lastNameInput.errors && lastNameInput.errors['required']">Last name is required</mat-error>
        <mat-error *ngIf="lastNameInput.errors && lastNameInput.errors['maxlength']">Name should have max. 15 characters
        </mat-error>
      </mat-form-field>
    </div>
     <div class="">
      <mat-form-field appearance="outline" class="width-100">
        <mat-label>E-mail</mat-label>
        <input type="email" [(ngModel)]="client.email" matInput [disabled]="loading" placeholder="E-Mail" name="email"
          required email #emailInput="ngModel" class="form-control" maxlength="50">
        <mat-hint *ngIf="emailInput.pristine">E-Mail address</mat-hint>
        <mat-error *ngIf="emailInput.errors && emailInput.errors['required']">E-mail is required</mat-error>
        <mat-error *ngIf="emailInput.errors && emailInput.errors['email']">Please enter a valid e-mail address</mat-error>
      </mat-form-field>
    </div>
    <div class="">
      <mat-form-field appearance="outline" class="width-100">
        <mat-label>Phone</mat-label>
        <input [(ngModel)]="client.phone" matInput [disabled]="loading" placeholder="phone" name="phone" required
          #phoneInput="ngModel" class="form-control" maxlength="50">
        <mat-hint *ngIf="phoneInput.pristine">Phone number</mat-hint>
        <mat-error *ngIf="phoneInput.errors && phoneInput.errors['required']">Phone number is required</mat-error>
      </mat-form-field>
    </div>

  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="closeDialog()">Cancel</button>
    <button mat-button [disabled]="editClientDetails.form.invalid" (click)="editClientDetails.valid && saveEdit()" cdkFocusInitial>Save</button>
  </div>

</form>

