<div class="dialog-container">

  <mat-progress-bar *ngIf="loading" mode="indeterminate" class="progress-bar"></mat-progress-bar>

  <h1 mat-dialog-title>Edit Client Contact Informations</h1>
  <div mat-dialog-content>
    <div class="">
      <mat-form-field appearance="outline" class="mr-16 width-50">
        <mat-label>First Name</mat-label>
        <input [(ngModel)]="client.firstName" matInput [disabled]="loading" placeholder="First Name">
        <mat-hint>First Name</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline" class="width-50">
        <mat-label>Last Name</mat-label>
        <input [(ngModel)]="client.lastName" matInput [disabled]="loading" placeholder="Last Name">
        <mat-hint>Last Name</mat-hint>
      </mat-form-field>
    </div>
     <div class="">
      <mat-form-field appearance="outline" class="width-100">
        <mat-label>E-mail</mat-label>
        <input [(ngModel)]="client.email" matInput [disabled]="loading" placeholder="E-Mail">
        <mat-hint>E-Mail Address</mat-hint>
      </mat-form-field>
    </div>
    <div class="">
      <mat-form-field appearance="outline" class="width-100">
        <mat-label>Phone</mat-label>
        <input [(ngModel)]="client.phone" matInput [disabled]="loading" placeholder="phone">
        <mat-hint>Phone number</mat-hint>
      </mat-form-field>
    </div>

  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="closeDialog()">Cancel</button>
    <button mat-button (click)="saveEdit()" cdkFocusInitial>Save</button>
  </div>

</div>

