STAFF LIST

<!-- <mat-card>
  <table class="client-table">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
    </tr>
    <tr *ngFor="let member of allMembers" [routerLink]="['/member/' + member['memberID']]">
      <td>{{ member['firstName'] }} {{ member['lastName'] }}</td>
      <td>{{ member['email'] }}</td>
      <td>{{ member['zipCode'] }} {{ member['street'] }}</td>
    </tr>
  </table>
</mat-card> -->

  <!-- <button 
    mat-fab color="primary" 
    class="add-client-btn"
    #tooltip="matTooltip"
    matTooltip="Add a new staff member"
    [matTooltipPosition]="'above'"
    matTooltipHideDelay="500"
    (click)="openDialog()">
      <mat-icon>add</mat-icon>
  </button> -->

