
.color-select-btn {
    cursor: pointer;
    flex-basis: 50px;
    height: 20px;
    padding: 2px 4px;
    font-size: 12px;
    border-radius: 8px;
    // display: flex;
    text-align: center;
    gap: 8px;
}

.color-options-field {
    display: flex;
    gap: 8px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 16px;
}

.disabled {
    background-color: gray;
    cursor: default;
}

.line {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.602);
    margin: 16px 0 24px 0;
}

.header {
    text-align: center;
    margin-bottom: 16px;
}

.option {
    display: flex;
    gap: 16px;
    cursor: pointer;
}

.avatars {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.label {
    color: rgba(255, 255, 255, 0.602);
    font-size: 12px;
    margin-bottom: 4px;
    //text-align: center;
}

.mat-dialog-title {
    margin-bottom: 16px;
}

.avatar {
   width: 52px;
   height: 52px;
   //cursor: pointer;
}

.choose-color-buttons {
    display: flex;
    gap: 0;
    flex-wrap: wrap;
    width: 150px;

}

.color-btn {
    text-transform: capitalize;
    width: 50px;

    height: 33px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-black {
    color: black;
}