<div class="dialog-container">
  <!-- Progress bar -->
  <mat-progress-bar *ngIf="loading" mode="indeterminate" class="progress-bar"></mat-progress-bar>
  <!-- Title -->
  <h1 mat-dialog-title>Add Employees</h1>

  <!-- Main-Content: form fields -->
  <div mat-dialog-content>

    <div class="">
      <mat-form-field appearance="outline" color="accent" class="width-100">
        <mat-label>Assigned Employees</mat-label>
            <mat-select [(value)]="assignedEmployees" multiple [disabled]="loading">
                <mat-option *ngFor="let employee of employees" [value]="employee">{{employee.firstName}} {{ employee.lastName }}</mat-option>
            </mat-select>
            <!-- <mat-hint>Choose some</mat-hint> -->
      </mat-form-field>
    </div>

    <div class="">
        <p>Assigned:</p>
        <div class="selected-values-container">
          <span class="show-selected" *ngFor="let e of assignedEmployees" [style.color]="e.colorCode">{{ e.firstName }} {{ e.lastName }} </span>
        </div>
    </div>

      <!-- <mat-form-field appearance="outline" class="width-50">
        <mat-label>Client name</mat-label>
        <input [(ngModel)]="project.client" matInput [disabled]="loading" placeholder="Client name">
        <mat-hint>Enter main client</mat-hint>
      </mat-form-field> -->

  </div>
  <!-- END: main-content (form-fields) -->

  <!-- Buttons -->
  <div mat-dialog-actions>
    <button mat-button (click)="closeDialog()">Cancel</button>
    <button mat-button (click)="saveEdit()" cdkFocusInitial>Save</button>
  </div>

</div>
